@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../image.jpg') no-repeat center center/cover;
    color: #fff;
}

.app {
    height: 100vh;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;


    .pads {
        background: lightblue;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        border: 5px solid #fff;
        opacity: 0.9;
    }

    .pads>div {
        height: 100%;
        width: 100%;
    }

    .pad1 {
        background: #ffbe76;
        padding: 40px;
    }

    .pad2 {
        background: #ff7979;
        padding: 40px;
    }

    .pad3 {
        background: #badc58;
        padding: 40px;
    }

    .pad4 {
        background: #686de0;
        padding: 40px;
    }

    .pad5 {
        background: #e056fd;
        padding: 40px;
    }

    .pad6 {
        background: #22a6b3;
        padding: 40px;
    }

    .visuals>div {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 5px 50%;
        z-index: -1;
        top: 37%;
        left: 45%;

    }
}

header {

    h1,
    p {
        text-align: center;
    }
}

@keyframes jump {
    0% {
        transform: rotate(0deg);
        top: 37%;
        left: 45%;
    }

    25% {
        left: 85%;
    }

    50% {
        top: 90%;
    }

    75% {
        left: 25%;
    }

    100% {
        transform: rotate(360deg);
        left: 45%;
    }

}



//media queries
@media screen and (max-width: 700px) {
    .app {
        .pads {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}